.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

.const char* ssid = "Familia Bueno - EvolutionPro-2G"; //usuario wifi da minha rede local
.const char* password = "asiv281006amv"; //senha wifi da minha rede local
.const char* mqttServer = "192.168.1.8"; //ip do seu computador
.const int mqttPort = 1883;