{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href= "{% static 'css/styles.css' %}">
    <title>Controle da Lâmpada</title>
</head>

<body>
    <h1>Controle da Lâmpada</h1>
    
    <form id="formularioComando">
        <label for="comando">Digite o comando (TZO, OFF1, TZN, OFF2):</label><br>
        <input type="text" id="comando" name="comando" required>
        <button type="submit">Enviar Comando</button>        
    </form>

    <p id="resposta" style="margin-top: 15px; font-weight: bold;"></p>
    
    <script src="{% static 'js/script.js' %}" async defer></script>
</body>
</html>
